.whatsapp-logo {
    position: fixed;
    bottom: 20px; /* Adjust distance from bottom */
    right: 20px;  /* Adjust distance from right */
    background-color: #25D366; /* WhatsApp green */
    color: white; /* Icon color */
    border-radius: 50%; /* Circular shape */
    padding: 10px; /* Padding around the icon */
    cursor: pointer; /* Pointer cursor on hover */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
    transition: background-color 0.3s; /* Smooth color change */
    font-size: 40px; /* Increase icon size */
  }
  
  .whatsapp-logo:hover {
    background-color: #128C7E; /* Darker green on hover */
  }
  