.letter {
  font-size: 80px;
}

/* Scoped container for Loading component */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: #ef4444; /* Tailwind CSS's red-500 equivalent */
  padding: 0 20px; /* Add padding for small screens */
}

/* Scoped text styling for Loading component */
.loading-container .ml6 {
  position: relative;
  font-weight: 900;
  color: white; /* White text */
  text-align: center; /* Center align the text */
}

/* Font size based on screen size */
.loading-container .ml6 .text-wrapper {
  display: inline-block;
  padding-top: 0.2em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

/* Main title styles */
.loading-container .ml6 .title {
  display: block; /* Display title as block for better alignment */
  font-size: 4rem; /* Base font size */
}

/* Subtitle styles */
.loading-container .ml6 .subtitle {
  display: block; /* Display subtitle as block for better alignment */
  font-size: 2rem; /* Smaller font size for the subtitle */
  margin-top: 0.5em; /* Space between title and subtitle */
}

.loading-container .ml6 .letter {
  display: inline-block;
  line-height: 1em;
}


/* Media queries for responsive font sizes */

/* For small devices (less than 600px) */
@media (max-width: 600px) {
  .loading-container .ml6 .title {
    font-size: 3rem; /* Smaller font size for small screens */
  }
  .letter {
    font-size: 22px;
  }
  
  .loading-container .ml6 .subtitle {
    font-size: 1.5rem; /* Smaller subtitle */
  }
}

/* For tablets (less than 900px) */
@media (max-width: 900px) {
  .loading-container .ml6 .title {
    font-size: 3.5rem; /* Adjust font size for tablets */
  }

  .letter {
    font-size: 22px;
  }
  
  .loading-container .ml6 .subtitle {
    font-size: 1.75rem; /* Adjust subtitle */
  }
}

/* For large screens (desktops and laptops) */
@media (min-width: 1200px) {
  .loading-container .ml6 .title {
    font-size: 5rem; /* Larger font size for larger screens */
  }
  .letter {
    font-size: 40px;
  }
  .loading-container .ml6 .subtitle {
    font-size: 2.5rem; /* Adjust subtitle for larger screens */
  }
}
